.vbox*
0LF
ARCH
BIT
Builders
CONAN2_WORKSPACE
DockerEnvs
Downloads
ENVs
EXP0
JIRA
Lesson
XA
Pictures
POCs
SANITIZE
code_utils
docker_metrics_collector
extra
feed_simulator
old-pdc-home
prj_0lf_benchmarks
prj_0lf_test
project_builder
reflection_generator
.cargo
.dotfiles-bare-repo
.ssh
*.wget-hsts
.gitlab
shared
.ICEauthority
.Xauthority
.archey3.cfg
.bash_history
.bash_history*
.bash_logout
.cache
.claude/
.claude.json
.config/aonix-walls
.config/claude-devtools
.config/Code
.config/QtProject.conf
.config/Thunar
.config/btop
.config/chromium
.config/cppman
.config/dconf
.config/gcloud
.config/GIMP
.config/github-copilot
.config/go/
.config/google-chrome
.config/htop
.config/ksnip
.config/mozilla
.config/menus
.config/mimeapps.list*
.config/pulse
.config/ristretto
.config/tmux/plugins
.config/vlc
.config/xfce4
.config/wallpapers
.dbeaver
.devpod
.docker
.dotnet
.eclipse
.emacs.d
.gk
.gnome/
.lesshst
.local/
.npm
.pki
.python_history*
.swt
.tmux/
.urxvt/
.viminfo*
.vscode
.themes.gitconfig
.bashrc.secrets
.config/cava/shaders/
