.vbox*
0LF
BIT
Builders
CONAN2_WORKSPACE
DockerEnvs
Downloads
EXP0
JIRA
XA
Lesson
MyDotFiles
POCs
SANITIZE
code_utils
docker_metrics_collector
extra
MyDotFiles
feed_simulator
prj_0lf_benchmarks
prj_0lf_test
project_builder
reflection_generator
.dotfiles-bare-repo
.ssh
*.wget-hsts
shared
.ICEauthority
.Xauthority
.archey3.cfg
.bash_history
.bash_history*
.bash_logout
.cache
.config/Code
.config/QtProject.conf
.config/Thunar
.config/btop
.config/chromium
.config/cppman
.config/dconf
.config/gcloud
.config/github-copilot
.config/google-chrome
.config/ksnip
.config/menus
.config/mimeapps.list*
.config/pulse
.config/tmux/plugins
.config/vlc
.config/xfce4
.config/go/
.config/dolphinrc
.config/kde.org
.config/ristretto/
.config/session/
.config/baloofileinformationrc
.dbeaver
.devpod
.docker
.dotnet
.emacs.d
.gk
.gnome/
.lesshst
.local/
.npm
.pki
.python_history*
.swt
.tmux/
.urxvt/
.viminfo*
.vscode
.themes.gitconfig
